body {
    padding-top: 70px;
    background: #F9F2E7;
}

.glyphicon-remove {
    cursor: pointer;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.navbar-inverse {
    background-color: #00A8C6;
    border-color: #00A8C6;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar-inverse .badge {
    color: #00A8C6;
}

.btn-success {
    background-color: #8FBE00;
    border-color: #8FBE00;
}

.badge {
    background-color: #00A8C6;
}
