<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Shopping Cart</h3>
    </div>
    <div class="panel-body">
        <div ng-if="selectedFiles.length == 0">
            Your shopping cart is empty!
        </div>
        <table class="table table-hover table-condensed" ng-if="selectedFiles.length > 0">
            <thead>
            <tr>
                <th>Module</th>
                <th>Filename</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in selectedFiles | orderBy:['module','filename']">
                <td>{{ file.module }}</td>
                <td>{{ file.filename }}</td>
                <td>
                    <span class="glyphicon glyphicon-remove" ng-click="removeFile(file.filename)"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-block" ng-disabled="isDownloading"
                ng-if="selectedFiles.length > 0" ng-click="triggerDownload()">
            <span class="glyphicon glyphicon-refresh spinning" ng-if="isDownloading"></span>
            {{ isDownloading ? 'Downloading' : 'Download' }}
        </button>
    </div>
</div>