<div class="panel panel-default" ng-if="selectedModule != undefined">
    <div class="panel-heading">
        <h3 class="panel-title">{{ selectedModule }} {{ moduleNames[selectedModule] }}</h3>
    </div>
    <div class="panel-body">

        <button type="button" class="btn btn-primary btn-block"
                ng-if="moduleFiles[selectedModule].length > 0"
                ng-click="addAllFilesToCart()">
            Add All
        </button>

        <div ng-if="moduleFiles[selectedModule].length == 0">
            No paper available for this module, sorry :(
        </div>

        <div class="progress" ng-if="moduleFiles[selectedModule] == undefined">
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
        </div>
    </div>
    <ul class="list-group" ng-if="moduleFiles[selectedModule].length > 0">
        <button type="button" class="list-group-item"
                ng-repeat="filename in moduleFiles[selectedModule]"
                ng-click="toggleFile(filename)">
            {{ filename }}
            <span class="badge" ng-if="selectedFileNames.indexOf(filename) != -1">Added</span>
        </button>
    </ul>
</div>

