<div class="panel panel-default" ng-if="selectedModule != undefined">
    <div class="panel-heading">
        <h3 class="panel-title">{{ selectedModule }} {{ moduleNames[selectedModule] }}</h3>
    </div>
    <div class="panel-body">
        <div class="btn-group-vertical btn-block" role="group" ng-if="moduleFiles[selectedModule].length > 0">
            <button type="button" class="btn btn-default btn-block"
                    ng-repeat="filename in moduleFiles[selectedModule]"
                    ng-class="{active: selectedFileNames.indexOf(filename) != -1}"
                    ng-click="toggleFile(filename)">
                {{ filename }}
            </button>
        </div>

        <button type="button" class="btn btn-primary btn-block"
                ng-if="moduleFiles[selectedModule].length > 0"
                ng-click="addAllFilesToCart()">
            Add All
        </button>

        <div ng-if="moduleFiles[selectedModule].length == 0">
            No paper available for this module, sorry :(
        </div>

        <div class="progress" ng-if="moduleFiles[selectedModule] == undefined">
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
                Loading...
            </div>
        </div>
    </div>
</div>

