<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="NUSExam makes downloading PYP from NUS Library not painful anymore.">

    <title>NUSExam</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/landing.css">
</head>

<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">NUSExam</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="/box/">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="inner cover">
                <p class="lead">NUSExam makes it easy to download PYPs.</p>

                <p class="lead">Add all you want to your cart, and get them all in a single zip file.</p>

                <p class="lead">
                    <a href="/box/" class="btn btn-lg btn-outline-inverse">Get Started</a>
                </p>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>Available only to NUS students.</p>

                    <p>Proudly brought to you by <a href="https://paperbaton.com">Paperbaton.com</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
